.photo-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  list-style: none;
  margin: 0 auto;
  justify-content: center;
  padding: 84px 0 71px;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: 1242px;
    min-width: 942px;
    padding: 89px 0 81px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    min-width: 736px;
    padding: 82px 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 55px 0 57px;
  }
}
