.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 984px;
  align-items: center;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .lead {
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .lead {
    min-width: 768px;
    min-height: 862px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    min-width: 320px;
    min-height: 406px;
    margin-bottom: 64px;
  }
}
