.photo-grid__item {
  width: 284px;
  height: 213px;
  margin: 8px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__item {
    min-width: 300px;
    min-height: 225px;
    margin-right: 7px;
    margin-top: 3px;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__item {
    min-width: 352px;
    min-height: 264px;
    margin: 6px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__item {
    min-width: 288px;
    min-height: 216px;
    margin-top: 9px;
    margin-bottom: 0;
  }
}
